<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="hreflang_tab" translate="label" sortOrder="1">
           <label>Href Lang</label>
       </tab>
       <section id="brunocanada_hreflang" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
           <label>General</label>
           <tab>hreflang_tab</tab>
           <resource>BrunoCanada_HrefLang::config</resource>
           <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                  showInStore="1">
               <label>General</label>
               <field id="same_website_only" translate="label" type="select" showInDefault="1" canRestore="1"
                      showInWebsite="1" showInStore="1">
                   <label>Same website only</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="exclude_website" translate="label" type="multiselect" showInDefault="1" canRestore="1"
                      showInWebsite="1" showInStore="1">
                   <label>Exclude websites</label>
                   <source_model>BrunoCanada\HrefLang\Model\Config\Source\WebsitesList</source_model>
                   <can_be_empty>1</can_be_empty>
               </field>
           </group>
       </section>
   </system>
</config>
